# Ignore all files and directories
/*

# Except assets directory
!/assets/

# Except index.html
!/index.html

# Except vite.svg
!/vite.svg

# Allow all files within assets directory (assuming it's a directory)
/assets/**
